# Dependency directories
node_modules/
jspm_packages/


# Optional eslint cache
.eslintcache


# dotenv environment variables file
.env
.env.development.local
.env.test.local
.env.production.local
.env.local



# Vscode
.vscode/

# Local History for Visual Studio Code
.history/
